body {
    font-family: Segoe Print;
    background-color: bisque;
}

h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

main {
    background-image: url('https://github.com/enderman2014/main-img2/blob/main/photo_2025-06-15_13-49-58.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1400px;
}

header a {
    background-color: #fbeee0;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: black 4px 4px 0 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

header a:hover {
    background-color: white;
    transition: 1s;
}

header a:active {
    box-shadow: black 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}

header a {
    position: absolute;
    left: 300px;
    top: 55:px;
}

.second {
    position: absolute;
    left: 600px;
}

.third {
    position: absolute;
    left: 900px;
}

table img{
    padding:5px;
}

td:last-child {
    padding: 70px;
}

.td{
    padding-left: 30px;
}

.footerp {
    display: flex;
    justify-content: center;
    font-size: 28px;
    border: 3px solid black;
    width:300px;
    border-radius: 8px;
}

footer p {
    text-align: center;
    font-size: 28px;
    border: 3px solid black;
    box-shadow: black, 4px, 4px 0 0;
    border-radius: 8px;
}

.center{
    display: flex;
    justify-content: center;
}
